@import "tailwindcss";

:root{
  --ohs-cream: #F5E6C8;
  --ohs-sky: #66B7E6;
  --ohs-pale-green: #BFD8B8;
  --ohs-dark-green: #1E5B3A;

  --ohs-charcoal: #1F2937;
  --ohs-surface: #FAFAFA;
  --ohs-border: #E5E7EB;
}
